.services-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
 
.services-text10 {
  display: inline-block;
}
 
.services-text11 {
  display: inline-block;
}
 
.services-text12 {
  display: inline-block;
}
 
.services-text13 {
  display: inline-block;
}
 
.services-text14 {
  display: inline-block;
}
 
.services-text15 {
  display: inline-block;
}
 
.services-text18 {
  display: inline-block;
}
 
.services-text21 {
  display: inline-block;
}
 
.services-text22 {
  display: inline-block;
}
 
.services-text23 {
  display: inline-block;
}
 
.services-text24 {
  display: inline-block;
}
 
.services-text25 {
  display: inline-block;
}
 
.services-text33 {
  display: inline-block;
}
 
.services-text45 {
  display: inline-block;
}
 
.services-text53 {
  display: inline-block;
}
 
.services-text54 {
  display: inline-block;
}
 
.services-text57 {
  display: inline-block;
}
 
.services-text58 {
  display: inline-block;
}
 
.services-text59 {
  display: inline-block;
}
 
.services-text62 {
  display: inline-block;
}
 
.services-text63 {
  display: inline-block;
}
 
.services-text64 {
  display: inline-block;
}
 
.services-text65 {
  display: inline-block;
}
 
.services-text66 {
  display: inline-block;
}
 
.services-text67 {
  display: inline-block;
}
 
.services-text68 {
  display: inline-block;
}
 
.services-text69 {
  display: inline-block;
}
